.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-width: 60rem;
}

#btn {
  width: 96px;
  height: 48px;
  font-size: 24px;
  cursor: pointer;
}
